Intermediate/CachedAssetRegistry_0.bin
Intermediate/CachedAssetRegistryDiscovery.bin
Intermediate/PipInstall/extra_urls.txt
Intermediate/PipInstall/Lib/site-packages/plugin_site_package.pth
Intermediate/PipInstall/merged_requirements.in
Intermediate/PipInstall/pyreqs_plugins.list
Intermediate/ReimportCache/3688439234.bin
Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-6794438D4112CFF3DF8AD295FD1DDE79/CrashReportClient.ini
Saved/Config/WindowsEditor/Editor.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/GameUserSettings.ini
Saved/Logs/MiHaYouProject.log
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_b019937a1bd5f916/Default/DDCKey-Editor.txt
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNK02D4C3BCAD7DFA48AB32B8281FB06B8B83DB6275
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNK2A5F9F60441DA258D18B46D59C64D5BAD50E8EE3
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNK44B429B40BB45A070EB17C1259C28734996A2F49
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNK967C747FFC357A828288FA05D93CD5DCECDA891B
DerivedDataCache/VT/TEXTURE_7C16439390E24F1F9468894FB4D4BC55_VTCHUNKC0393DE8C5B4673D99D1BECB92AA8C1F72FEB491
Saved/Autosaves/Game/ThirdPerson/Fan/BP_Movable_Auto1.uasset
Saved/Autosaves/Game/ThirdPerson/Fan/BP_Movable_Auto2.uasset
Saved/Autosaves/Game/ThirdPerson/Fan/BP_Movable_Auto3.uasset
Saved/Autosaves/Game/ThirdPerson/Fan/FanTestMap_Auto1.umap
Saved/Autosaves/Game/ThirdPerson/Fan/FanTestMap_Auto2.umap
Saved/Autosaves/Game/ThirdPerson/Fan/FanTestMap_Auto3.umap
Saved/Autosaves/Game/ThirdPerson/Fan/FanTestMap_Auto4.umap
Saved/Config/CrashReportClient/UECC-Windows-92A2ACF447756FBE06FD99B51937D59D/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-DEDA04E24A7719E384C5C8AF5395EC19/CrashReportClient.ini
Saved/Config/WorldState/3787092407.json
Saved/Config/WorldState/557176670.json
Saved/Logs/MiHaYouProject-backup-2026.01.17-16.30.07.log
Saved/Logs/MiHaYouProject-backup-2026.01.17-16.45.29.log
Saved/SourceControl/UncontrolledChangelists.json
Saved/Autosaves/Game/ThirdPerson/Fan/BP_Movable_Auto4.uasset
Saved/Config/CrashReportClient/UECC-Windows-E4D277C94C3FF92312E204BCDB773637/CrashReportClient.ini
Saved/Logs/MiHaYouProject-backup-2026.01.17-21.07.23.log
Saved/Logs/MiHaYouProject-backup-2026.01.22-09.42.10.log
Saved/Config/CrashReportClient/UECC-Windows-E714466B42F7EA79547300AE7D978171/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-0646B01E4E8F47F5846755BF253513E4/CrashReportClient.ini
Intermediate/TurnkeyReport_0.log
Saved/Config/CrashReportClient/UECC-Windows-E714466B42F7EA79547300AE7D978171/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-E714466B42F7EA79547300AE7D978171/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-E714466B42F7EA79547300AE7D978171/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-E714466B42F7EA79547300AE7D978171/CrashReportClient.ini
Saved/Autosaves/Game/Game/Map/TeachingLevel_Auto1.umap
Saved/Config/CrashReportClient/UECC-Windows-E714466B42F7EA79547300AE7D978171/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-E714466B42F7EA79547300AE7D978171/CrashReportClient.ini
Saved/Logs/MiHaYouProject-backup-2026.01.23-10.25.20.log
Saved/Config/CrashReportClient/UECC-Windows-AEB5A2614E5ED8F5F18AA79B2B8C2275/CrashReportClient.ini
Saved/Logs/MiHaYouProject-backup-2026.01.23-10.40.46.log
Saved/Logs/MiHaYouProject-backup-2026.01.19-18.12.11.log
Saved/Logs/MiHaYouProject-backup-2026.01.19-17.27.10.log
Saved/Logs/MiHaYouProject-backup-2026.01.19-18.12.11.log
Saved/Logs/MiHaYouProject-backup-2026.01.19-17.27.10.log
